body{
    margin: 0;
}
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.header{
    width: 100%;
    background-color: rgba(77, 27, 12, 0.678);
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.anim1 {
    width: 100%;
    height: 5px;
    background-color: maroon;
    position: static;
    animation-name: head;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
@keyframes head {
    0%   {background-color:maroon; left:0%; top:0px;}
    25%  {background-color:lightsalmon; left:100%; top:0px;}
    50%  {background-color:maroon; left:100%; top:0px;}
    75%  {background-color:lightsalmon; left:0%; top:0px;}
    100% {background-color:maroon; left:0%; top:0px;}
}
.name{
    padding: 5px;
}
.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li{
    background-color: rgba(77, 27, 12, 0.678);
    padding: 5px;
    margin-bottom: 7px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: rgba(44, 12, 2, 0.884);
    color: lightsalmon;
}
.anim2 {
    width: 40%;
    padding:5px 5px 5px 5px;
    text-align: center;
    margin-top: 40px;
    background-color: rgba(44, 12, 2, 0.884);
    color: lightsalmon;
    font-weight: bold;
    position: relative;
    animation: mymove 5s infinite alternate;
}

#div1 {animation-timing-function: linear;}
#div2 {animation-timing-function: ease;}
#div3 {animation-timing-function: ease-in;}
#div4 {animation-timing-function: ease-out;}
#div5 {animation-timing-function: ease-in-out;}

@keyframes mymove {
    from {left: 0%;}
    to {left: 60%;}
}
.dis{
    text-align: center;
    color: rgba(44, 12, 2, 0.884);
    position: static;
    animation-name: dis;
    animation-duration: 5s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}
@keyframes dis {
    0%   {color:rgba(44, 12, 2, 0.884);}
    15%   {color:maroon;}
    25%  {color:lightsalmon;}
    35%   {color:maroon;}
    50%  {color:rgba(44, 12, 2, 0.884);}
    65%   {color:maroon;}
    75%  {color:lightsalmon;}
    85%   {color:maroon;}
    100% {color:rgba(44, 12, 2, 0.884);}
}
.hgif{
    width: 100%;
}
.trans{
    width: 100px;
    height: 250px;
    transition: width 2s;
}
.trans:hover {
    width: 100%;
}
.prof{
    background-color: rgba(77, 27, 12, 0.678);
    padding: 3px;
    text-align: center;
    font-size: 14px;
    margin-bottom: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    width: 100%;
    height: 300px;
    border: 0px solid;
    overflow: auto;
}
#profs{
    font-size: 26px;
}
footer{
    background-color: rgba(77, 27, 12, 0.678);
    font-size: 12px;
    padding: 3px;
    text-align: center;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}